In [23]:
import pandas as pd
import statistics

processed_data_path = "C:/Users/anush/OneDrive/Documents/Sem3/Explorative Information Visualization/Project/Data/CleanedData"

pizza_ingredients = ["wheat", "tomato", "onion", "peppers", "vegetables", "fruits"]
country_list = ["India", "United States", "Egypt"]
year_min = 1979
year_max = 2019 #new max year is 2019 (not 2023)

In [2]:
foodLoss = pd.read_csv(processed_data_path + "/country-food-year-loss.csv")

In [3]:
foodLoss

,country,commodity,year,loss_percentage
0,India,Wheat,2016,7.04
1,India,Wheat,2016,0.86
2,India,Wheat,2016,3.36
3,India,Wheat,2016,1.43
4,India,Wheat,2016,4.07
...,...,...,...,...
655,United States of America,"Chillies and peppers, green (<i>Capsicum</i> s...",1979,8.00
656,United States of America,Tomatoes,1979,15.00
657,United States of America,"Other beans, green",1979,6.00
658,United States of America,"Onions and shallots, green",1979,6.00
659,United States of America,"Other vegetables, fresh n.e.c.",1979,7.00

In [6]:
set(foodLoss["commodity"])

{'Cantaloupes and other melons',
 'Chillies and peppers, dry (<i>Capsicum</i> spp., <i>Pimenta</i> spp.), raw',
 'Chillies and peppers, green (<i>Capsicum</i> spp. and <i>Pimenta</i> spp.)',
 'Onions and shallots, green',
 'Other beans, green',
 'Other citrus fruit, n.e.c.',
 'Other fruits, n.e.c.',
 'Other pome fruits',
 'Other pulses n.e.c.',
 'Other stimulant, spice and aromatic crops, n.e.c.',
 'Other tropical and subtropical fruits, n.e.c.',
 'Other vegetables, fresh n.e.c.',
 'Tomatoes',
 'Wheat'}

In [10]:
'''
The dataframe new_foodLoss contains percentages of crop lost in different regions of the country.
So we are adding them up in this piece of code.
Some errors may have occurred, so some sums are more than 100. Will remove those entries and interpolate them.
'''

new_foodLoss = {}
#foodLoss_country = foodLoss[foodLoss["country"] == "India"]
for idx, row in foodLoss.iterrows():
    ingredient = ""
    found = 0
    for ing in pizza_ingredients:
        if ing in row["commodity"].lower():
            ingredient = ing
            found = 1
            break
    if found == 0:
        continue
    else:
        keyname = "" + row["country"] + "_" + ingredient + "_" + str(row["year"])
        new_foodLoss[keyname] = new_foodLoss.get(keyname, 0) + row["loss_percentage"]

In [11]:
new_foodLoss

{'India_wheat_2016': 24.189999999999998,
 'India_tomato_2016': 28.04,
 'India_onion_2016': 37.239999999999995,
 'India_fruits_2016': 33.96,
 'India_peppers_2016': 8.110000000000001,
 'India_wheat_2015': 15.3,
 'India_tomato_2015': 35.0,
 'India_wheat_2014': 9.85,
 'India_tomato_2014': 24.88,
 'India_onion_2014': 16.39,
 'India_fruits_2014': 19.45,
 'India_peppers_2014': 12.99,
 'India_wheat_2013': 34.42,
 'India_tomato_2013': 12.44,
 'India_onion_2012': 119.91,
 'India_wheat_2012': 12.93,
 'India_tomato_2010': 78.74999999999999,
 'India_onion_2010': 27.5,
 'India_fruits_2010': 68.85,
 'India_tomato_2009': 139.17000000000002,
 'India_vegetables_2009': 10.41,
 'India_peppers_2009': 41.67000000000001,
 'India_tomato_2008': 35.0,
 'India_onion_2006': 27.750000000000004,
 'India_wheat_2006': 9.88,
 'India_tomato_2006': 23.06,
 'India_fruits_2006': 8.62,
 'India_peppers_2006': 10.19,
 'India_tomato_2005': 16.65,
 'India_onion_2004': 15.7,
 'India_tomato_2003': 20.0,
 'India_tomato_2002': 34.95,
 'India_wheat_2002': 4.95,
 'India_tomato_1999': 32.6,
 'India_tomato_1993': 13.0,
 'India_onion_1993': 30.0,
 'Egypt_tomato_2017': 104.0,
 'Egypt_tomato_2015': 15.0,
 'Egypt_fruits_2015': 23.0,
 'Egypt_tomato_2013': 43.0,
 'Egypt_wheat_2011': 14.0,
 'Egypt_wheat_1994': 7.2,
 'Egypt_tomato_1984': 101.75,
 'Egypt_fruits_1984': 20.0,
 'United States of America_peppers_2019': 8.0,
 'United States of America_tomato_2019': 15.0,
 'United States of America_onion_2019': 6.0,
 'United States of America_vegetables_2019': 7.0,
 'United States of America_peppers_2018': 8.0,
 'United States of America_tomato_2018': 29.5,
 'United States of America_onion_2018': 6.0,
 'United States of America_vegetables_2018': 204.49999999999997,
 'United States of America_peppers_2017': 8.0,
 'United States of America_tomato_2017': 15.0,
 'United States of America_onion_2017': 6.0,
 'United States of America_vegetables_2017': 7.0,
 'United States of America_peppers_2016': 8.0,
 'United States of America_tomato_2016': 15.0,
 'United States of America_onion_2016': 6.0,
 'United States of America_vegetables_2016': 7.0,
 'United States of America_peppers_2015': 8.0,
 'United States of America_tomato_2015': 15.0,
 'United States of America_onion_2015': 6.0,
 'United States of America_vegetables_2015': 7.0,
 'United States of America_fruits_2014': 21.3,
 'United States of America_peppers_2014': 8.0,
 'United States of America_tomato_2014': 15.0,
 'United States of America_onion_2014': 6.0,
 'United States of America_vegetables_2014': 7.0,
 'United States of America_peppers_2013': 8.0,
 'United States of America_tomato_2013': 15.0,
 'United States of America_onion_2013': 6.0,
 'United States of America_vegetables_2013': 7.0,
 'United States of America_peppers_2012': 8.0,
 'United States of America_tomato_2012': 15.0,
 'United States of America_onion_2012': 6.0,
 'United States of America_vegetables_2012': 7.0,
 'United States of America_peppers_2011': 8.0,
 'United States of America_tomato_2011': 15.0,
 'United States of America_onion_2011': 6.0,
 'United States of America_vegetables_2011': 7.0,
 'United States of America_peppers_2010': 8.0,
 'United States of America_tomato_2010': 15.0,
 'United States of America_onion_2010': 6.0,
 'United States of America_vegetables_2010': 7.0,
 'United States of America_peppers_2009': 8.0,
 'United States of America_tomato_2009': 15.0,
 'United States of America_onion_2009': 6.0,
 'United States of America_vegetables_2009': 7.0,
 'United States of America_tomato_2008': 46.0,
 'United States of America_fruits_2008': 137.0,
 'United States of America_peppers_2008': 8.0,
 'United States of America_onion_2008': 6.0,
 'United States of America_vegetables_2008': 7.0,
 'United States of America_peppers_2007': 8.0,
 'United States of America_tomato_2007': 15.0,
 'United States of America_onion_2007': 6.0,
 'United States of America_vegetables_2007': 7.0,
 'United States of America_fruits_2006': 8.4,
 'United States of America_peppers_2006': 13.8,
 'United States of America_tomato_2006': 27.0,
 'United States of America_onion_2006': 13.5,
 'United States of America_vegetables_2006': 11.3,
 'United States of America_fruits_2005': 10.7,
 'United States of America_peppers_2005': 17.7,
 'United States of America_tomato_2005': 29.4,
 'United States of America_onion_2005': 18.0,
 'United States of America_vegetables_2005': 12.9,
 'United States of America_peppers_2004': 8.0,
 'United States of America_tomato_2004': 15.0,
 'United States of America_onion_2004': 6.0,
 'United States of America_vegetables_2004': 7.0,
 'United States of America_peppers_2003': 8.0,
 'United States of America_tomato_2003': 15.0,
 'United States of America_onion_2003': 6.0,
 'United States of America_vegetables_2003': 7.0,
 'United States of America_peppers_2002': 8.0,
 'United States of America_tomato_2002': 15.0,
 'United States of America_onion_2002': 6.0,
 'United States of America_vegetables_2002': 7.0,
 'United States of America_peppers_2001': 8.0,
 'United States of America_tomato_2001': 15.0,
 'United States of America_onion_2001': 6.0,
 'United States of America_vegetables_2001': 7.0,
 'United States of America_peppers_2000': 8.0,
 'United States of America_tomato_2000': 15.0,
 'United States of America_onion_2000': 6.0,
 'United States of America_vegetables_2000': 7.0,
 'United States of America_peppers_1999': 8.0,
 'United States of America_tomato_1999': 15.0,
 'United States of America_onion_1999': 6.0,
 'United States of America_vegetables_1999': 7.0,
 'United States of America_peppers_1998': 8.0,
 'United States of America_tomato_1998': 15.0,
 'United States of America_onion_1998': 6.0,
 'United States of America_vegetables_1998': 7.0,
 'United States of America_peppers_1997': 8.0,
 'United States of America_tomato_1997': 15.0,
 'United States of America_onion_1997': 6.0,
 'United States of America_vegetables_1997': 7.0,
 'United States of America_peppers_1996': 8.0,
 'United States of America_tomato_1996': 15.0,
 'United States of America_onion_1996': 6.0,
 'United States of America_vegetables_1996': 7.0,
 'United States of America_peppers_1995': 8.0,
 'United States of America_tomato_1995': 15.0,
 'United States of America_onion_1995': 6.0,
 'United States of America_vegetables_1995': 7.0,
 'United States of America_peppers_1994': 8.0,
 'United States of America_tomato_1994': 15.0,
 'United States of America_onion_1994': 6.0,
 'United States of America_vegetables_1994': 7.0,
 'United States of America_peppers_1993': 8.0,
 'United States of America_tomato_1993': 15.0,
 'United States of America_onion_1993': 6.0,
 'United States of America_vegetables_1993': 7.0,
 'United States of America_peppers_1992': 8.0,
 'United States of America_tomato_1992': 15.0,
 'United States of America_onion_1992': 6.0,
 'United States of America_vegetables_1992': 7.0,
 'United States of America_peppers_1991': 8.0,
 'United States of America_tomato_1991': 15.0,
 'United States of America_onion_1991': 6.0,
 'United States of America_vegetables_1991': 7.0,
 'United States of America_peppers_1990': 8.0,
 'United States of America_tomato_1990': 15.0,
 'United States of America_onion_1990': 6.0,
 'United States of America_vegetables_1990': 7.0,
 'United States of America_peppers_1989': 8.0,
 'United States of America_tomato_1989': 15.0,
 'United States of America_onion_1989': 6.0,
 'United States of America_vegetables_1989': 7.0,
 'United States of America_peppers_1988': 8.0,
 'United States of America_tomato_1988': 15.0,
 'United States of America_onion_1988': 6.0,
 'United States of America_vegetables_1988': 7.0,
 'United States of America_peppers_1987': 8.0,
 'United States of America_tomato_1987': 15.0,
 'United States of America_onion_1987': 6.0,
 'United States of America_vegetables_1987': 7.0,
 'United States of America_peppers_1986': 8.0,
 'United States of America_tomato_1986': 15.0,
 'United States of America_onion_1986': 6.0,
 'United States of America_vegetables_1986': 7.0,
 'United States of America_peppers_1985': 8.0,
 'United States of America_tomato_1985': 15.0,
 'United States of America_onion_1985': 6.0,
 'United States of America_vegetables_1985': 7.0,
 'United States of America_peppers_1984': 8.0,
 'United States of America_tomato_1984': 15.0,
 'United States of America_onion_1984': 6.0,
 'United States of America_vegetables_1984': 7.0,
 'United States of America_peppers_1983': 8.0,
 'United States of America_tomato_1983': 15.0,
 'United States of America_onion_1983': 6.0,
 'United States of America_vegetables_1983': 7.0,
 'United States of America_peppers_1982': 8.0,
 'United States of America_tomato_1982': 15.0,
 'United States of America_onion_1982': 6.0,
 'United States of America_vegetables_1982': 7.0,
 'United States of America_peppers_1981': 8.0,
 'United States of America_tomato_1981': 15.0,
 'United States of America_onion_1981': 6.0,
 'United States of America_vegetables_1981': 7.0,
 'United States of America_peppers_1980': 8.0,
 'United States of America_tomato_1980': 15.0,
 'United States of America_onion_1980': 6.0,
 'United States of America_vegetables_1980': 7.0,
 'United States of America_peppers_1979': 8.0,
 'United States of America_tomato_1979': 15.0,
 'United States of America_onion_1979': 6.0,
 'United States of America_vegetables_1979': 7.0}

In [14]:
'''
Converting dict into dataframe with different columns
Removing entries that have percentage more than 100.
'''
country_list = []
commodity_list = []
year_list = []
loss_list = []

for key in new_foodLoss.keys():
    if new_foodLoss[key] < 90:
        splitlist = key.split("_")
        if splitlist[0] == "United States of America":
            country_list.append("USA")
        else:
            country_list.append(splitlist[0])
        commodity_list.append(splitlist[1])       
        year_list.append(splitlist[2])
        loss_list.append(new_foodLoss[key])

new_dict = {"country": country_list, "commodity": commodity_list, "year": year_list, "loss_percentage": loss_list}
foodLoss_2 = pd.DataFrame(new_dict)

In [15]:
foodLoss_2

    country   commodity  year  loss_percentage
0     India       wheat  2016            24.19
1     India      tomato  2016            28.04
2     India       onion  2016            37.24
3     India      fruits  2016            33.96
4     India     peppers  2016             8.11
..      ...         ...   ...              ...
201     USA  vegetables  1980             7.00
202     USA     peppers  1979             8.00
203     USA      tomato  1979            15.00
204     USA       onion  1979             6.00
205     USA  vegetables  1979             7.00

[206 rows x 4 columns]

In [16]:
#foodLoss_2.to_csv(processed_data_path + "/country-food-year-totalLoss.csv", index=False)

In [28]:
'''
To be able to see what values are missing, I will convert foodLoss_2 to a different format:
Columns are as follows: year columns will contain the loss percentage.
country commodity 1979 1980 1981 .... 2023
'''

pivot_df = foodLoss_2.pivot(index=['country', 'commodity'], columns='year', values='loss_percentage')

# Reindex to include all years from 1979 to 2023
#all_years = list(range(1979, 2024))
#pivot_df = pivot_df.reindex(columns=all_years)

# Reset index for readability (optional)
pivot_df = pivot_df.reset_index()

In [29]:
pivot_df.columns

Index(['country', 'commodity', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019'],
      dtype='object', name='year')

In [30]:
pivot_df

year,country,commodity,1979,1980,1981,1982,1983,1984,1985,1986,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Egypt,fruits,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,23.0,NaN,NaN,NaN,NaN
1,Egypt,tomato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,43.00,NaN,15.0,NaN,NaN,NaN,NaN
2,Egypt,wheat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,India,fruits,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,68.85,NaN,NaN,NaN,19.45,NaN,33.96,NaN,NaN,NaN
4,India,onion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.50,NaN,NaN,NaN,16.39,NaN,37.24,NaN,NaN,NaN
5,India,peppers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.99,NaN,8.11,NaN,NaN,NaN
6,India,tomato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,78.75,NaN,NaN,12.44,24.88,35.0,28.04,NaN,NaN,NaN
7,India,vegetables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,India,wheat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12.93,34.42,9.85,15.3,24.19,NaN,NaN,NaN
9,USA,fruits,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,21.30,NaN,NaN,NaN,NaN,NaN
10,USA,onion,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.00,6.0,6.00,6.00,6.00,6.0,6.00,6.0,6.0,6.0
11,USA,peppers,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,8.00,8.0,8.00,8.00,8.00,8.0,8.00,8.0,8.0,8.0
12,USA,tomato,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0,...,15.00,15.0,15.00,15.00,15.00,15.0,15.00,15.0,29.5,15.0
13,USA,vegetables,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,...,7.00,7.0,7.00,7.00,7.00,7.0,7.00,7.0,NaN,7.0

In [31]:
#pivot_df.to_csv(processed_data_path + "/country-commodity-yearwise-timeseries-data.csv", index=False)

In [36]:
foodLoss_interpolated = pd.read_csv(processed_data_path + "/country-commodity-yearwise-timeseries-data-interpolatedData.csv")

In [37]:
foodLoss_interpolated

,commodity,country,1979,1980,1981,1982,1983,1984,1985,1986,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,onion,Egypt,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,...,20.00,20.0000,20.000,20.0000,20.00,23.000,23.00,23.00,23.00,23.00
1,peppers,Egypt,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,...,20.00,20.0000,20.000,20.0000,20.00,23.000,23.00,23.00,23.00,23.00
2,tomato,Egypt,20.00,20.00,20.00,20.00,20.00,20.00,43.00,43.00,...,43.00,43.0000,43.000,43.0000,29.00,15.000,15.00,15.00,15.00,15.00
3,wheat,Egypt,20.00,20.00,20.00,20.00,20.00,20.00,7.20,7.20,...,14.00,14.0000,14.000,14.0000,14.00,14.000,14.00,14.00,14.00,14.00
4,onion,India,30.00,30.00,30.00,30.00,30.00,30.00,30.00,30.00,...,27.50,24.7225,21.945,19.1675,16.39,26.815,37.24,37.24,37.24,37.24
5,peppers,India,10.19,10.19,10.19,10.19,10.19,10.19,10.19,10.19,...,41.67,34.5000,27.330,20.1600,12.99,10.550,8.11,8.11,8.11,8.11
6,tomato,India,NaN,13.00,13.00,13.00,13.00,13.00,13.00,13.00,...,78.75,56.6400,34.540,12.4400,24.88,35.000,28.04,28.04,28.04,28.04
7,wheat,India,4.95,4.95,4.95,4.95,4.95,4.95,4.95,4.95,...,10.41,10.4100,12.930,34.4200,9.85,15.300,24.19,24.19,24.19,24.19
8,onion,USA,6.00,6.00,6.00,6.00,6.00,6.00,6.00,6.00,...,6.00,6.0000,6.000,6.0000,6.00,6.000,6.00,6.00,6.00,6.00
9,peppers,USA,8.00,8.00,8.00,8.00,8.00,8.00,8.00,8.00,...,8.00,8.0000,8.000,8.0000,8.00,8.000,8.00,8.00,8.00,8.00
10,tomato,USA,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,...,15.00,15.0000,15.000,15.0000,15.00,15.000,15.00,15.00,29.50,15.00
11,wheat,USA,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,...,7.00,7.0000,7.000,7.0000,7.00,7.000,7.00,7.00,7.00,7.00